@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--bs-font-sans-serif: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
	--bs-primary: #640eb0;
	--bs-primary-dark: #4b0a85;
	--bs-secondary: #dcf24e;
	--bs-body-bg: #e6e6e6;
	--bs-primary-rgb: 100, 14, 176;
	--bs-secondary-rgb: 220, 242, 78;
}

.btn-primary {
	--bs-btn-color: #fff;
	--bs-btn-bg: var(--bs-primary);
	--bs-btn-border-color: var(--bs-primary);
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: var(--bs-primary-dark);
	--bs-btn-hover-border-color: var(--bs-primary-dark);
	--bs-btn-focus-shadow-rgb: 49, 132, 253;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: var(--bs-primary);
	--bs-btn-active-border-color: var(--bs-primary);
	--bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: var(--bs-primary);
	--bs-btn-disabled-border-color: var(--bs-primary);
}

.btn {
	--bs-btn-border-radius: 100px;
	--bs-btn-padding-x: 1.25rem;
	--bs-btn-padding-y: 0.75rem;
	--bs-btn-font-weight: 600;
}

html,
body,
.root {
	min-height: 100dvh;
}

body {
	padding-top: 50px;
}

header {
	background-color: var(--bs-primary);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1020;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	transition: top 0.3s;

	&.hidden {
		top: -72px;
	}

	.navbar-toggler {
		border: none;

		&:focus {
			box-shadow: none;
		}
	}

	nav {
		.nav-link {
			font-weight: 600;
			color: var(--bs-secondary) !important;
			display: inline-block;
			vertical-align: middle;
			transform: perspective(1px) translateZ(0);
			box-shadow: 0 0 1px rgba(0, 0, 0, 0);
			position: relative;
			transition-property: color;
			transition-duration: 0.3s;

			&:before {
				content: "";
				position: absolute;
				z-index: -1;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background: var(--bs-secondary);
				transform: scaleX(0);
				transform-origin: 0 50%;
				transition-property: transform;
				transition-duration: 0.3s;
				transition-timing-function: ease-out;
			}

			&.active,
			&:hover {
				color: var(--bs-primary) !important;

				&:before {
					transform: scaleX(1);
				}
			}
		}
	}
}

main {
	#hero {
		/* height: calc(100dvh - 77px); */
		/* aspect-ratio: 16 / 9; */
		background: url("../img/banner_top-16-9.jpg") no-repeat center center;
		background-size: cover;
		background-attachment: fixed;
		height: calc(100dvh - 72px);

		.content {
			top: 225px;
		}

		.gradient {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(90deg, rgba(var(--bs-primary-rgb), 0.8) 0%, rgba(var(--bs-secondary-rgb), 0.5) 82%);
			mix-blend-mode: multiply;
		}

		[class^="line-"] {
			line-height: 1;
			text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

			opacity: 0;
			transform: translateX(-50px);
			transition: opacity 0.6s ease-out, transform 0.6s ease-out;
			transition-delay: 0.2s;
			&.animate {
				opacity: 1;
				transform: translateX(0);
			}
		}
		.line-1 {
			font-size: 3.5rem;
			font-weight: 600;
			display: block;
		}
		.line-2 {
			font-style: italic;
			font-size: 9rem;
			display: block;
			font-weight: 600;
		}
		.line-3 {
			font-size: 2.5rem;
			line-height: 1.1;
			font-weight: 300;
		}
	}

	#quemsomos {
		padding: 100px 0;

		.title {
			font-size: 4.5rem;
			font-weight: 300;
			line-height: 0.7;

			span {
				opacity: 0;
				transform: translateX(-50px);
				transition: opacity 0.6s ease-out, transform 0.6s ease-out;
				display: block;
			}

			.emphasis {
				font-size: 8rem;
				transform: translateX(50px);
			}

			&.animate {
				span {
					opacity: 1;
					transform: translateX(0);
				}
			}
		}

		.text {
			font-size: 1.25rem;

			p {
				opacity: 0;
				transform: translateX(50px);
				transition: opacity 0.6s ease-out, transform 0.6s ease-out;

				&.animate {
					opacity: 1;
					transform: translateX(0);
				}
			}
		}

		.flag-logo {
			top: 40px;
			left: -50px;
			transition: transform 0.5s ease-out;
			transform-origin: center;
		}
	}

	#solucoes {
		padding: 100px 0;
		overflow: hidden;

		.title {
			font-size: 4.5rem;
			font-weight: 300;
			text-align: center;
			color: var(--bs-primary);
			opacity: 0;
			transform: translateY(-50px);
			transition: opacity 0.6s ease-out, transform 0.6s ease-out;
			&.animate {
				opacity: 1;
				transform: translateY(0);
			}
		}

		.list {
			li {
				transition: all 0.5s;
				transform: scale(1);
				margin: 0;

				&:hover {
					transform: scale(1.05);
					margin: 13px 0;
				}

				> div {
					width: 50%;
				}

				.image,
				.text {
					opacity: 0;
					transform: translateX(-50px);
					transition: opacity 0.6s ease-out, transform 0.6s ease-out;
				}

				.image {
					display: flex;
					justify-content: center;
					align-items: center;

					img {
						max-width: 100%;
						height: auto;
					}
				}

				.text {
					padding: 0 5%;
					display: flex;
					flex-direction: column;
					justify-content: center;
					transform: translateX(50px);

					.title-solution {
						font-size: 2rem;
						font-weight: 600;
						margin-bottom: 20px;

						small {
							font-size: 1.2rem;
							font-weight: 500;
							display: block;
							margin-top: 5px;
						}
					}
				}

				&:nth-child(odd) {
					background-color: var(--bs-primary);
					.text {
						color: #fff;

						.title-solution {
							color: var(--bs-secondary);
						}
					}
				}
				&:nth-child(even) {
					flex-direction: row-reverse;
					background-color: var(--bs-secondary);

					.image {
						transform: translateX(50px);
					}

					.text {
						transform: translateX(-50px);

						.title-solution {
							color: var(--bs-primary);
						}
					}
				}

				&.animate {
					.image,
					.text {
						opacity: 1;
						transform: translateX(0);
					}
				}
			}
		}
	}
	#epic-led {
		background-color: var(--bs-secondary);
		overflow: hidden;

		.banner {
			background: url("../img/banner_epic_led-16-9.jpg") no-repeat center center;
			background-size: cover;
			/* aspect-ratio: 16 / 9; */
			height: calc(60dvh);
			background-attachment: fixed;

			.gradient {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: linear-gradient(90deg, rgba(var(--bs-primary-rgb), 0.8) 0%, rgba(var(--bs-secondary-rgb), 0.5) 82%);
				mix-blend-mode: multiply;
			}

			.title {
				color: var(--bs-secondary);
				font-size: 15rem;
				font-weight: 700;
				font-style: italic;
				line-height: 0.9;
				position: relative;
				bottom: -22px;
				opacity: 0;
				transition: opacity 0.6s ease-out;

				span {
					display: block;
					transition: transform 0.6s ease-out;

					&:first-child {
						transform: translateX(-50px);
					}
					&:last-child {
						transform: translateX(50px);
					}
				}

				&.animate {
					opacity: 1;

					span {
						transform: translateX(0);
					}
				}
			}
		}

		> .container {
			padding-block: 100px;

			.subtitle {
				font-size: 5.5rem;
				font-weight: 300;
				line-height: 1;

				span {
					display: block;
					opacity: 0;
					transform: translateX(-50px);
					transition: opacity 0.6s ease-out, transform 0.6s ease-out;

					&.animate {
						opacity: 1;
						transform: translateX(0);
					}
				}
			}

			.text {
				font-size: 1.25rem;

				p {
					opacity: 0;
					transform: translateX(50px);
					transition: opacity 0.6s ease-out, transform 0.6s ease-out;

					&.animate {
						opacity: 1;
						transform: translateX(0);
					}
				}
			}
		}
	}

	#contato {
		padding: 100px 0;

		.text {
			p {
				font-size: 2.8rem;
				opacity: 0;
				transform: translateX(50px);
				transition: opacity 0.6s ease-out, transform 0.6s ease-out;

				&.animate {
					opacity: 1;
					transform: translateX(0);
				}

				strong {
					font-weight: 600;
				}
			}

			.btn {
				font-size: 1.5rem;
				box-shadow: var(--bs-btn-hover-border-color) 0px 6px 0px 0px;
				border-color: var(--bs-btn-hover-border-color);
				border-width: 2px;
				position: relative;
				top: 0;
				opacity: 0;
				transform: translateX(50px);
				transition: opacity 0.6s ease-out, transform 0.6s ease-out, top 0.2s, box-shadow 0.2s;

				&.animate {
					opacity: 1;
					transform: translateX(0);
				}

				&:hover {
					top: 5px;
					box-shadow: none;
				}
			}
		}

		.flag-logo {
			top: 80px;
			left: -50px;
			transform-origin: center;
			opacity: 0;
			transition: transform 0.5s ease-out, opacity 0.6s ease-out;

			&.animate {
				opacity: 1;
			}
		}
	}
}

footer {
	background-color: var(--bs-primary);
	padding: 100px 0;

	[data-animate] {
		opacity: 0;
		transform: translateY(50px);
		transition: opacity 0.6s ease-out, transform 0.6s ease-out;

		&.animate {
			opacity: 1;
			transform: translateY(0);
		}
	}

	.contatos {
		ul {
			li {
				display: flex;
				align-items: center;

				img {
					margin-right: 15px;
				}
			}
			li:not(:last-child) {
				margin-bottom: 15px;
			}
		}
	}

	.redes-sociais {
		ul {
			li {
				a {
					display: flex;
				}
				img {
					width: 45px;
				}
			}
		}
	}
}

@media (max-width: 1399.98px) {
	main {
		#hero {
			background-attachment: scroll;
			height: auto;
			aspect-ratio: 16 / 9;

			.content {
				top: 175px;
			}
		}
		#epic-led {
			.banner {
				background-attachment: scroll;
				height: auto;
				aspect-ratio: 16 / 9;
			}
		}
		#quemsomos {
			.flag-logo {
				img {
					width: 400px;
				}
			}
		}
		#epic-led {
			.banner {
				.title {
					font-size: 12rem;
					bottom: -18px;
				}
			}
		}
		#contato {
			.text {
				p {
					font-size: 2.2rem;
				}
			}
			.flag-logo {
				img {
					width: 300px;
				}
			}
		}
	}
}

@media (max-width: 1199.98px) {
	main {
		#hero {
			.line-1 {
				font-size: 2.5rem;
			}
			.line-2 {
				font-size: 8rem;
			}
			.line-3 {
				font-size: 2rem;
			}
		}
	}
}

@media (max-width: 991.98px) {
	header {
		&.prevent {
			top: 0;
		}
	}
	main {
		.flag-logo-mobile {
			top: -87px;
			left: -30px;

			img {
				width: 280px;
			}
		}

		section:not(#hero) {
			overflow: hidden;
		}
		#hero {
			.content {
				top: 130px;
			}
			.line-1 {
				font-size: 2rem;
			}
			.line-2 {
				font-size: 7rem;
			}
			.line-3 {
				font-size: 1.5rem;
			}
		}
		#quemsomos {
			.title {
				font-size: 3.5rem;

				.emphasis {
					font-size: 6rem;
				}
			}
			.flag-logo {
				top: -92px;

				img {
					width: 300px;
				}
			}
		}
		#solucoes {
			.list {
				li {
					padding: 30px;

					> div {
						width: 100%;
					}

					.image,
					.text {
						transform: translateX(0);
					}

					.text {
						margin-top: 25px;
						padding-inline: 0;
					}

					&:nth-child(even) {
						.image,
						.text {
							transform: translateX(0);
						}
					}

					&:hover {
						transform: scale(1);
						margin: 0;
					}
				}
			}
		}
		#epic-led {
			.banner {
				.title {
					font-size: 7rem;
					bottom: -11px;
				}
			}
			> .container {
				.subtitle {
					font-size: 3.5rem;
					span {
						display: inline-block;
					}
				}
			}
		}
		#contato {
			.flag-logo {
				top: -86px;

				img {
					width: 280px;
				}
			}
		}
	}
}

@media (max-width: 767.98px) {
	main {
		#hero {
			.line-1 {
				font-size: 1.5rem;
			}
			.line-2 {
				font-size: 5.5rem;
			}
			.line-3 {
				font-size: 1.2rem;
			}
		}
	}
}

@media (max-width: 575.98px) {
	.container {
		--bs-gutter-x: 2rem;
	}
	header {
		.navbar-brand {
			img {
				width: 80px;
			}
		}
	}
	main {
		.flag-logo-mobile {
			top: -58px;
			left: -30px;

			img {
				width: 190px;
			}

			&.top {
				top: -43px;

				img {
					width: 140px;
				}
			}
		}
		#hero {
			.content {
				top: 100px;
			}
			.line-1 {
				font-size: 1rem;
			}
			.line-2 {
				font-size: 3.5rem;
			}
			.line-3 {
				font-size: 0.8rem;
			}
		}
		#quemsomos {
			padding-block: 80px 50px;

			.title {
				font-size: 2.5rem;

				.emphasis {
					font-size: 4rem;
				}
			}

			.text {
				font-size: 1rem;
			}
			.flag-logo {
				top: -55px;

				img {
					width: 180px;
				}
			}
		}
		#solucoes {
			padding-block: 50px;

			.title {
				font-size: 2.5rem;
			}

			.list {
				li {
					.text {
						.title-solution {
							font-size: 1.5rem;
						}
					}
				}
			}
		}
		#epic-led {
			.banner {
				.title {
					font-size: 5rem;
					bottom: -8px;
				}
			}
			> .container {
				padding-block: 50px 80px;

				.subtitle {
					font-size: 2.5rem;
				}
				.text {
					font-size: 1rem;
				}
			}
		}
		#contato {
			padding-block: 80px;

			.text {
				p {
					font-size: 1.5rem;
				}
				.btn {
					font-size: 1.2rem;
				}
			}
			.flag-logo {
				top: -63px;

				img {
					width: 200px;
				}
			}
		}
	}
	footer {
		padding-block: 50px;

		.contatos {
			ul {
				li:not(:last-child) {
					margin-bottom: 10px;
				}
			}
		}

		.redes-sociais {
			ul {
				li {
					img {
						width: 35px;
					}
				}
			}
		}
	}
}
